
/** Project_Index **/
#project_index_page {
}
#project_index_Header {
	position: relative;
	margin: 0;
	padding: 0;
}
#projectList_count {
	font-size: 22px;
	border-left: 8px solid #FFFF00;
	padding-left: 10px;
}
#projectList_create_new {
	position: absolute;
	top: 45px;
	right: 0;
	-moz-right: 0;
	-webkit-right: 0;
}
#projectList_create_new a, #projectList_create_new a:active, #projectList_create_new a:link, #projectList_create_new a:visited {
	background: #0054A6;
	margin: 0 12px 0 0;
	padding: 8px 16px 8px 16px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
}
#projectList_create_new a:hover {
	background: #00BFF3;
}
#project_index_Table {
	position: relative;
	font-family: Helvetica, Arial;
	font-size: 12px;
	display: block-inline;
}
#project_index_Table ul {
	margin: 0 0 1px 0;
	padding: 0;
}
#project_index_Table ul li {
	display: inline-block;
	list-style: none;
	padding: 5px 10px;
}
.projectListTableHeader {
}
.table_header {
	font-weight: bold;
	background: #00BFF3;
}
.table_row {
	background: #E1E1E1	;
}
.projectListTableEntry {
	margin: 1px;
	padding: 1px;
	width: 880px;
}
.projectList_project_title {
	width: 180px;
}
.projectList_project_owner {
	width: 140px;
}
.projectList_project_status {
	width: 60px;
}
.projectList_project_budget {
	width: 80px;
}
.projectList_project_tags {
	width: 140px;
}
.projectList_project_created {
	width: 60px;
}
.projectList_project_action {
	width: 60px;
}


/** Project_Bid **/
#project_bid_page {
	position: relative;
}
#project_bid_Header {
}
#project_bid_addBid {
	position: absolute;
}
#project_bid_projectDetails {
	position: relative;
	left: 0;
	top: 0;
	margin: 20px 0 0 450px;
}
form#projectAddBidForm, form#projectDetailsForm {
	width: 440px;
}
form#projectAddBidForm fieldset, form#projectDetailsForm fieldset {
	border: none;
	margin-bottom: 10px;
}
form#projectAddBidForm fieldset:last-of-type {
	margin-bottom: 0;
}
form#projectAddBidForm fieldset fieldset {
	margin-left: 180px;
}

form#projectAddBidForm legend, form#projectDetailsForm legend {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 0 10px 20px;
    text-shadow: 0 1px 1px #E2E2E2;
}
form#projectAddBidForm ol, form#projectDetailsForm ol {	
	padding: 0;
    margin: 0;
}
form#projectAddBidForm ol li, form#projectDetailsForm ol li {
    margin: 2px 0 2px 20px;
    line-height: 30px;
    list-style: none;
    float: left;
}
form#projectAddBidForm label,form#projectDetailsForm label {
    float: left;
    font-size: 12px;
    width: 180px;
}

form#projectAddBidForm input:not([type=radio]), form#projectAddBidForm textarea, form#projectDetailsForm input:not([type=radio]), form#projectDetailsForm textarea {
    background: #FFFFFF;
    border: 2px solid #E7E7E7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    font: italic 13px Georgia, "Times New Roman", Times, serif;
    outline: none;
    padding: 5px;
    width: 200px;
}
form#projectAddBidForm input:not([type=submit]):focus, form#projectAddBidForm textarea:focus {
    background: #FFFF00;
}

form#projectAddBidForm input[type=checkbox] {
    float: left;
    margin: 10px 5px 0 0;
    width: 15px;
}
form#projectAddBidForm input[type=checkbox]:hover {
    cursor: pointer;
}


form#projectAddBidForm button {
    background: #00AEFF;
    border: none;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    color: #ffffff;
    display: inline;
    font: 14px "OldStyle1HPLHS", Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-left: 20px;
    padding: 7px 28px;
    text-transform: uppercase;
}
form#projectAddBidForm button:hover {
    background: #FFFF00;
    text-shadow: 0 1px 1px #FFD200;
    color: #000000;
    cursor: pointer;
}

.projectAddBid_iterationPlan {

}


