
/** Developer_Index **/
#developer_index_page {
}
#developer_index_Header {
	position: relative;
	margin: 0;
	padding: 0;
}
#developerList_count {
	font-size: 22px;
	border-left: 8px solid #FFFF00;
	padding-left: 10px;
}

#developer_index_searchbar {
	position: absolute;
	top: 0;
	right: 0;
	-moz-right: 0;
	-webkit-right: 0;
	float: right;
	height: 24px;
	display: block;
	margin: 45px 12px 0 0;
	border-bottom: 4px solid #FFFF00;
}
#developerList_search {
	position: absolute;
	top: 0;
	right: 0;
	-moz-right: 0;
	-webkit-right: 0;
}
#developerList_search a, #developerList_search a:active, #developerList_search a:link, #developerList_search a:visited {
	background: #0054A6;
	padding: 6px 16px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
}
#developerList_search a:hover {
	background: #00BFF3;
}
#developerList_search_query {
	margin: 0 78px 0 0;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	padding: 3px;
	padding-left: 8px;
    width: 180px;
    height: 18px;
    display: block;
    border: 0;
    background: #F0F0F0;
}
#developerList_search_query:focus {
	border: 2px solid #0054A6;
}

#developer_index_sortbar {
	position: relative;
	margin-right: 12px;
	padding: 9px 0 3px 20px;
	min-height: 25px;
	line-height: 25px;
	background: #000000;
	color: #FFFFFF;
	font-weight: bold;
}
.sort_subheader {
	font: 14px Arial, Helvetica bold;
	font-variant: small-caps;
}
.sort_select {
	position: absolute;
	top: 0;
	left: 0;
	margin: 8px 0 0 80px;
	width: 165px;
	background: #000000;
	font: 13px Arial, Helvetica bold;
	color: #FFFFFF;
}


#developer_index_Table {
	position: relative;
	font-family: Helvetica, Arial;
	font-size: 12px;
	display: block-inline;
	width: 878px;
}
#developer_index_Table tr {
	margin: 0;
	padding: 0;
}
#developer_index_Table tr td {
	display: inline-block;
	list-style: none;
	padding: 5px 10px;
	border-right: 2px #FFFFFF solid;
}
#developer_index_Table tr td:last-child {
	border-right: 0;
}
.developerListTableHeader {
	background: #00BFF3;
	border-bottom: 2px #FFFFFF solid;
}
.table_header {
	font-weight: bold;
}
.table_row {
	min-height: 32px;
	line-height: 30px;
	display: block;
}
.developerListTableEntry {
	margin-bottom: 1px;
	padding: 1px;
	width: 850px;
	background: #E1E1E1;
	border-bottom: 2px #FFFFFF solid;
}
.developerListTableEntry:hover {
	cursor: pointer;
}
.developerList_developer_name {
	width: 225px;
	font-weight: bold;
}
.developerList_developer_country {
	width: 105px;
}
.developerList_developer_school {
	width: 80px;
}
.developerList_developer_badges {
	width: 125px;
}
.developerList_developer_earnings {
	width: 105px;
}
.developerList_developer_contact {
	width: 105px;
}
.developer_nameheader, .developer_pic {
	padding-left: 10px;
}
.developer_name {
	margin: 0 0 0 5px;
}
.developer_name a, .developer_name a:active, .developer_name a:visited {
	text-decoration: none;
	color: #000000;
}
.developer_name a:hover {

}
.developerList_developer_school a, .developerList_developer_school a:active, .developerList_developer_school a:visited {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	background: #000000;
	color: #FFFFFF;
	padding: 2px 9px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}
.developerList_developer_school a:hover {
	background: #FFFFFF;
	color: #000000;
}
.developer_badges_earned {
	font: 13px Arial, Helvetica;
	height: 17px;
	font-weight: bold;
}
.developer_badges_total {
	font-size: 11px;
	color: #797979;
}
.developerList_developer_badges a, .developerList_developer_badges a:active, .developerList_developer_badges a:visited {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	background: #797979;
	color: #FFFFFF;
	padding: 1px 3px;
	margin-left: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}
.developerList_developer_badges a:hover {
	background: #000000;
}
.developerList_developer_contact a, .developerList_developer_contact a:active, .developerList_developer_contact a:visited {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1px 4px;
	color: #000000;
	background: #FFD101;
}
.developerList_developer_contact a:hover {
	color: #FFFFFF;
	background: #0097FE;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}



