/* HTML5 ✰ Boilerplate | Tailored for PivotalExpert
 * =================================================================
 */
@import url("interface-font.css");

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Authors:		Pivotal Expert 2 Team
   ========================================================================== */
/***** Global *****/
* html .hitarea {
    display: inline;
    float: none;
}
body  {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E6E6E6;
    text-align: center;
    color: #000000;
}
#container {
	position: relative;
    margin: 0 auto;
    background-color: #FFFFFF;
    width: 988px;
}
#box {
	position: relative;
	margin: 0 auto;
	width: 890px;
	text-align: left;
}

/***** Header *****/
#top {
	background: #FFFFFF;
}
#top_above {
	height: 120px;
}
#logo {
	width: 210px;
}
#top_links {
	position: absolute;
	margin: 0 0 0 210px;
	top: 0;
	left: 0;
	width: 680px;
	height: 94px;
}
#top_separator {
	position: absolute;
	margin: 94px 0 0 210px;
	top: 0;
	left: 0;
	background-image: url("../images/top_separator.png");
	width: 680px;
	height: 25px;
}
#top_below {
	position: relative;
}
#country {
	font: 23px "GeosansLightRegular", Verdana, sans-serif;
	color: #C7C7C7;
	font-weight: bold;
	text-transform: uppercase;
	width: 210px;
}
#top nav {
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	font: 22px "GeosansLightRegular", Verdana, sans-serif;
	font-weight: bold;
	height: 26px;
	list-style-type: none;
	margin: 0 0 0 227px;
	width: 663px;
}
#top nav ul {
	list-style: none;
	margin: 0 auto;
	position: absolute;
}
#top nav ul ul {
	left: -9999px;
}
#top nav ul li {
	margin: 0;
	float: left;
	position: relative;
	width: auto;
	border-right: solid 2px #0097FE;
}
#top nav ul li:last-child, #top nav ul li:last-child a  {
	border: 0;
}
#top nav ul li li {
	float: none;
	margin: 0;
	border: none;
	white-space: nowrap;
}
#top nav ul li ul li {
	font: 22px "CaviarDreamsRegular", Helvetica, sans-serif;
	font-size: 15px;
	padding-top: 5px;
	background: #000000;
}
#top nav a, #top_nav a:active, #top_nav a:link, #top_nav a:visited {
	padding: 0 24px 0 24px;
	color: #C7C7C7;
	text-decoration: none;
	display: block;
	height: 24px;
}
#top nav li:hover, #top nav li a:hover {
	background: #0097FE;
	color: #FFFFFF;
}
#top nav ul li:hover ul { /* Display the dropdown on hover */
	left: 0; /* Bring back on-screen when needed */
}
.navheader {
	color: #FFFF01;
	padding: 2px 24px 2px 24px;
}


/***** Content *****/
#content {
	padding: 15px 0 15px 0;
}



/***** Footer *****/
#bottom {
	margin-top: 8px;
	position: relative;
	top: 0;
	left: 0;
	width: 890px;
	min-height: 40px;
}
#copyright {
	padding-top: 12px;
	font-size: 9px;
	font-weight: bold;
	color: #C7C7C7;
	border-top: 1px dotted #C7C7C7;
	width: 350px;
}
#copyright a, #copyright a:active, #copyright a:link, #copyright a:visited {
	color: #C7C7C7;
	text-decoration: none;
}
#copyright a:hover {
	text-decoration: underline;
}
#bottom_links {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 0 0 350px;
	padding: 12px 20px 0 20px;
	font-size: 10px;
	color: #FFFFFF;
	background: #C7C7C7;
	text-align: right;
	width: 500px;
	height: 28px;
	
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;  
}
#bottom_links nav ul li {
	padding: 0 4px 0 4px;
	margin: 0;
	float: right;
	position: relative;
	width: auto;
}
#bottom_links a, #bottom_links a:active, #bottom_links a:link, #bottom_links a:visited {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}
#bottom_links nav li:hover, #bottom_links nav li a:hover {
	color: #0097FE;
	text-decoration: underline;
}



/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */
@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
