

.body_main {
	position: relative;
}
#left_panel {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 10px 0 0 0;
	width: 150px;
}
#user_details_panel {
	width: 150px;
}

#user_profile_details {
}
.profile_details_nick {
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
}
.profile_details_pic {
}
.profile_details_school {
	padding: 8px 0 8px 5px;
	background: #000000;
	height: 36px;
}
.profile_details_school_initials {
	position: absolute;
	left: 15px;
	font: 26px "GeosansLightRegular", Verdana, sans-serif;
	font-weight: bold;
	line-height: 35px;
	color: #FFFFFF;
	padding: 1px 0 1px 30px;
	border-left: 6px solid #FFFF00;
}

#user_profile_controls {
	border: 1px solid #000000;
	padding: 3px;
	text-align: center;
	margin-bottom: 20px;
}
#user_profile_controls ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
#user_profile_controls ul li {
	display: inline;
}
.profile_details_editProfile {
}
.profile_details_messages {
}
.profile_details_contactList {
}


#user_performance_panel, #user_profile_badges_panel {
	margin-bottom: 15px;
}
.performance_panel_Header, .profile_badges_panel_Header {
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 3px;
	border-bottom: 1px solid #E2E2E2;
}
#user_performance_panel ul, #user_profile_badges_panel ul {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #E2E2E2;
}
#user_performance_panel ul li, #user_profile_badges_panel ul li {
	position: relative;
	list-style: none;
	display: block;
	margin: 2px 0 2px 0;
}
.performance_header, .profile_badges_header {
	position: relative;
	font-size: 12px;
	min-height: 28px;
	line-height: 12px;
	width: 95px;
	color: #FFFFFF;
	padding: 2px 0 1px 5px;
	font-variant: small-caps;
	background: #0097FE;
}
.profile_badges_header {
	min-height: 16px;
	line-height: 12px;
}
.performance_value, .profile_badges_value {
	position: absolute;
	left: 0;
	top: 0;
	margin-left: 100px;
	padding-right: 2px;
	font: 20px Arial, Helvetica;
	font-weight: bold;
	width: 46px;
	height: 29px;
	text-align: right;
	color: #0097FE;
	border: 1px solid #E2E2E2;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #0097FE;
}
.profile_badges_value {
	font: 13px Arial, Helvetica;
	height: 17px;
	font-weight: bold;
}
.profile_badges_score_total {
	font-size: 11px;
	color: #797979;
}
.profile_badges_more_link {
	text-align: right;
}
.profile_badges_more_link a, .profile_badges_more_link a:active, .profile_badges_more_link a:visited {
	color: #797979;
	font-size: 12px;
	font-weight: bold;
	font-variant: small-caps;
	text-decoration: none;
}
.profile_badges_more_link a:hover {
	color: #0097FE;
	text-decoration: underline;
}


#right_panel {
	position: relative;
	left: 0;
	top: 0;
	margin: 0 0 0 150px;
	padding: 10px 20px 0 20px;
	min-height: 550px;
	height: auto;
}
#user_info_panel {
	margin: 0px auto 0px auto;
	width: 720px;
}
#user_info_panel ul.tabs {
	margin: 0; 
	padding: 0;
	margin-top: 5px;
	margin-bottom: 6px;
}
#user_info_panel ul.tabs li {
	list-style: none;
	display: inline;
}
#user_info_panel ul.tabs li a {
	background-color: #0097FE;
	color: #FFFFFF;
	padding:8px 14px 8px 14px;
	text-decoration: none;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #E9E9E9;
}
#user_info_panel ul.tabs li a:hover {
	background-color: #FFFF00;
	color: #000000;
}
#user_info_panel ul.tabs li a.active {
	background-color: #FFFFFF;
	color: #282E32;
	border: 1px solid #E9E9E9;
	border-bottom: 1px solid #FFFFFF;
}
#projectList_create_new {
	position: absolute;
	top: 0;
	right: 0;
	-moz-right: 0;
	-webkit-right: 0;
	margin: 15px 12px 0 0;
}
#projectList_create_new a, #projectList_create_new a:active, #projectList_create_new a:link, #projectList_create_new a:visited {
	background: #797979;
	margin: 0 12px 0 0;
	padding: 8px 16px 8px 16px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
}
#projectList_create_new a:hover {
	background: #00BFF3;
}

.tabcontent {
	background-color: #FFFFFF;
	padding: 15px;
	border: 1px solid #E9E9E9;
}
#projectsmgt_content, #returnontime_content { 
	display: none; 
}

#newsfeed_Table, #projectsmgt_workroom_Table, #projectsmgt_projects_Table, #projectsmgt_bids_Table {
	position: relative;
	font-family: Helvetica, Arial;
	font-size: 12px;
	display: block-inline;
	width: 660px;
}
#newsfeed_Table {
	width: 680px;
}
#newsfeed_Table tr, #projectsmgt_workroom_Table tr, #projectsmgt_projects_Table tr, #projectsmgt_bids_Table tr {
	margin: 0;
	padding: 0;
}
#newsfeed_Table tr td, #projectsmgt_workroom_Table tr td, #projectsmgt_projects_Table tr td, #projectsmgt_bids_Table tr td {
	display: inline-block;
	list-style: none;
	padding: 5px 10px;
}


.newsfeedTableHeader, .projectsmgtWorkroomTableHeader, .projectsmgtProjectsTableHeader, .projectsmgtBidsTableHeader {
	background: #FFFF00;
}
.table_header {
	font-weight: bold;
}
.table_row {
	margin-top: 8px;
	min-height: 65px;
}
.table_row_projects {
	margin: 8px 0 5px 0;
}
.newsfeedTableEntry {
	margin: 1px;
	padding: 1px;
	border-bottom: 1px solid #E2E2E2;
}
.newsfeed_message_from {
	padding: 0;
	width: 55px;
}
.newsfeed_message_text {
	width: 330px;
}
.newsfeed_message_text_user {
	font-weight: bold;
}
.newsfeed_message_text_msg {
	position: relative;
	padding-top: 5px;
	display: block;
}
.newsfeed_message_sent {
	width: 210px;
}


#projectsmgt_workroom_Table, #projectsmgt_projects_Table, #projectsmgt_bids_Table {
}
.projectsmgtWorkroomTableEntry, .projectsmgtProjectsTableEntry, .projectsmgtBidsTableEntry {
	margin: 1px;
	padding: 1px;
	border-bottom: 1px solid #E2E2E2;
}
.projectsmgtWorkroomTableEntry:hover {
	cursor: pointer;
}
.workroom_height, .bids_height {
}

.projectsmgt_workroom_title {
	width: 115px;
}
.workroom_title {
	font-weight: bold;
	border-bottom: 4px solid #000000;
}
.projectsmgt_workroom_owner, .projectsmgt_workroom_developer, .projectsmgt_bids_owner {
	position: relative;
	width: 110px;
}
.projectsmgt_workroom_owner_pic, .projectsmgt_workroom_developer_pic, .projectsmgt_bids_owner_pic {
}
.projectsmgt_workroom_owner_name, .projectsmgt_workroom_developer_name, .projectsmgt_bids_owner_name {
	position: absolute;
	top: 0;
	left: 0;
	margin: 6px 0 0 64px;
	padding-left: 2px;
	display: block;
}
.projectsmgt_workroom_iteration {
	width: 40px;
}
.projectsmgt_workroom_price {
	width: 65px;
}
.projectsmgt_workroom_action {
	width: 55px;
}
.projectsmgt_workroom_action a, .projectsmgt_workroom_action a:active, .projectsmgt_workroom_action a:visited,
.projectsmgt_projects_action a, .projectsmgt_projects_action a:active, .projectsmgt_projects_action a:visited {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1px 3px;
	color: #000000;
	background: #FFD101;
}
.projectsmgt_workroom_action a:hover, .projectsmgt_projects_action a:hover {
	color: #FFFFFF;
	background: #000000;
}

.projectsmgt_projects_title {
	width: 160px;
}
.projectsmgt_projects_status {
	width: 120px;
}
.projectsmgt_projects_budget {
	width: 85px;
}
.projectsmgt_projects_expiryDate {
	width: 120px;
}
.projectsmgt_projects_action {
	width: 45px;
}

.projectsmgt_bids_title {
	padding-left: 5px;
	border-left: 4px solid #000000;
	font-weight: bold;
	width: 95px;
}
.projectsmgt_bids_owner {
	width: 100px;
}
.projectsmgt_bids_tags {
	width: 90px;
}
.projectsmgt_bids_status {
	width: 70px;
}
.projectsmgt_bids_date {
	width: 70px;
}
.projectsmgt_bids_message {
	width: 90px;
	line-height: 12px;
}


#projectsmgt_content {
}
#projectsmgt_content ul.subtabs {
	margin: 0; 
	padding: 0;
	margin-top: 5px;
	margin-bottom: 6px;
}
#projectsmgt_content ul.subtabs li {
	list-style: none;
	display: inline;
}
#projectsmgt_content ul.subtabs li a {
	background-color: #E9E9E9;
	color: #000000;
	padding:8px 14px 8px 14px;
	text-decoration: none;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #E9E9E9;
}
#projectsmgt_content ul.subtabs li a:hover {
	background-color: #FFFF00;
}
#projectsmgt_content ul.subtabs li a.active {
	background-color: #FFFFFF;
	color: #282E32;
	border: 1px solid #E9E9E9;
	border-bottom: 1px solid #FFFFFF;
}

.subtabcontent {
	background-color: #FFFFFF;
	padding: 15px;
	border: 1px solid #E9E9E9;
}
#projects_content, #bids_content { 
	display: none; 
}

#user_newsfeed {
}
#user_projects {
}


/*** User Profile Edit ***/
#user_details_edit_panel {
}
#user_details_edit_panel_body {
	position: relative;
}

#user_profile_edit_personal {
	position: relative;
	width: 450px;
}
#user_profile_edit_personal_inputPhoto {
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 55px;
	border: 1px solid #888888;
	width: 80px;
	height: 80px;
}
.editPersonal_photo_text {
	display: block;
	background: #888888;
	font-size: 11px;
	font-weight: bold;
	padding: 3px 8px;
	color: #FFFFFF;
	text-align: center;
	border: 2px solid #888888;
	text-transform: uppercase;
}
#user_profile_edit_personal_inputSegment {
	position: relative;
	margin-left: 100px;
}
#user_profile_edit_viewAccess {
	position: absolute;
	left: 0;
	top: 0;
	margin-left: 500px;
	width: 380px;
}
#user_profile_edit_paypal {
	position: absolute;
	left: 0;
	top: 0;
	margin: 120px 0 0 500px;
	width: 380px;
}
form#editPersonalForm {
	min-height: 350px;
	height: auto;
}

form#editPersonalForm fieldset  {
	border: none;
	margin-bottom: 10px;
}
form#editPersonalForm ol {	
	padding: 0;
    margin: 0;
}
form#editPersonalForm ol li {
    position: relative;
    margin: 2px 0 2px 0px;
    line-height: 30px;
    list-style: none;
    float: left;
}
form#editPersonalForm label {
    float: left;
    font-size: 12px;
    width: 140px;
    cursor: default;
}

.editPersonal_developer_option, .editPersonal_allowAccess_option {
	background: #FFFFFF;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
    outline: none;
    padding: 5px;
}
form#editPersonalForm input[type=radio] {
	margin-right: 10px;
}
form#editPersonalForm input:not([type=radio]), form#editPersonalForm textarea {
    background: #FFFFFF;
    border: 2px solid #E7E7E7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    font: italic 13px Georgia, "Times New Roman", Times, serif;
    outline: none;
    padding: 5px;
    width: 180px;
}
form#editPersonalForm input:not([type=submit]):focus, form#editPersonalForm textarea:focus {
    background: #FFFF00;
}

#user_details_edit_panel_footer {
	text-align: right;
	margin: 30px 20px 0 0;
}
#user_details_edit_panel_footer fieldset button {
    background: #00AEFF;
    border: none;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    color: #ffffff;
    display: inline;
    font: 12px Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    padding: 8px 35px;
    text-transform: uppercase;
}
#user_details_edit_panel_footer fieldset button:hover {
    background: #FFFF00;
    text-shadow: 0 1px 1px #FFD200;
    color: #000000;
    cursor: pointer;
}
